In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
filepath = 'base.csv'
df_c = pd.read_csv(filepath)

In [3]:
df_c.loc[(df_c.label == '-   Malicious   PartOfAHorizontalPortScan'), 'label'] = 'PartOfAHorizontalPortScan'
df_c.loc[(df_c.label == '(empty)   Malicious   PartOfAHorizontalPortScan'), 'label'] = 'PartOfAHorizontalPortScan'
df_c.loc[(df_c.label == '-   Malicious   Okiru'), 'label'] = 'Okiru'
df_c.loc[(df_c.label == '(empty)   Malicious   Okiru'), 'label'] = 'Okiru'
df_c.loc[(df_c.label == '-   Benign   -'), 'label'] = 'Benign'
df_c.loc[(df_c.label == '(empty)   Benign   -'), 'label'] = 'Benign'
df_c.loc[(df_c.label == '-   Malicious   DDoS'), 'label'] = 'DDoS'
df_c.loc[(df_c.label == '-   Malicious   C&C'), 'label'] = 'C&C'
df_c.loc[(df_c.label == '(empty)   Malicious   C&C'), 'label'] = 'C&C'
df_c.loc[(df_c.label == '-   Malicious   Attack'), 'label'] = 'Attack'
df_c.loc[(df_c.label == '(empty)   Malicious   Attack'), 'label'] = 'Attack'
df_c.loc[(df_c.label == '-   Malicious   C&C-HeartBeat'), 'label'] = 'C&C-HeartBeat'
df_c.loc[(df_c.label == '(empty)   Malicious   C&C-HeartBeat'), 'label'] = 'C&C-HeartBeat'
df_c.loc[(df_c.label == '-   Malicious   C&C-FileDownload'), 'label'] = 'C&C-FileDownload'
df_c.loc[(df_c.label == '-   Malicious   C&C-Torii'), 'label'] = 'C&C-Torii'
df_c.loc[(df_c.label == '-   Malicious   C&C-HeartBeat-FileDownload'), 'label'] = 'C&C-HeartBeat-FileDownload'
df_c.loc[(df_c.label == '-   Malicious   FileDownload'), 'label'] = 'FileDownload'
df_c.loc[(df_c.label == '-   Malicious   C&C-Mirai'), 'label'] = 'C&C-Mirai'
df_c.loc[(df_c.label == '-   Malicious   Okiru-Attack'), 'label'] = 'Okiru-Attack'

In [4]:
df_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1444674 entries, 0 to 1444673
Data columns (total 21 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   ts             1444674 non-null  float64
 1   uid            1444674 non-null  object
 2   id.orig_h      1444674 non-null  object
 3   id.orig_p      1444674 non-null  float64
 4   id.resp_h      1444674 non-null  object
 5   id.resp_p      1444674 non-null  float64
 6   proto          1444674 non-null  object
 7   service        1444674 non-null  object
 8   duration       1444674 non-null  object
 9   orig_bytes     1444674 non-null  object
 10  resp_bytes     1444674 non-null  object
 11  conn_state     1444674 non-null  object
 12  local_orig     1444674 non-null  object
 13  local_resp     1444674 non-null  object
 14  missed_bytes   1444674 non-null  float64
 15  history        1444674 non-null  object
 16  orig_pkts      1444674 non-null  float64
 17  orig_ip_bytes  1444674 non-null  float64
 18  resp_pkts      1444674 non-null  float64
 19  resp_ip_bytes  1444674 non-null  float64
 20  label          1444674 non-null  object
dtypes: float64(8), object(13)
memory usage: 231.5+ MB

### Dropar features

In [5]:
df_c = df_c.drop(columns=['uid', 'history', 'ts', 'id.orig_h', 'id.resp_h', 'local_orig', 'local_resp', 'resp_pkts'])

In [6]:
df_c.shape

(1444674, 13)

### One-hot encoding: get dummies

In [7]:
df_c = pd.get_dummies(df_c, columns=['proto'])
df_c = pd.get_dummies(df_c, columns=['conn_state'])

In [8]:
df_c['label'].value_counts()

PartOfAHorizontalPortScan     825939
Okiru                         262690
Benign                        197809
DDoS                          138777
C&C                            15100
Attack                          3915
C&C-HeartBeat                    349
C&C-FileDownload                  43
C&C-Torii                         30
FileDownload                      13
C&C-HeartBeat-FileDownload         8
C&C-Mirai                          1
Name: label, dtype: int64

In [10]:
df_c.shape

(1444674, 27)

### Pandas Profiling

In [22]:
from pandas_profiling import ProfileReport

In [25]:
prof = ProfileReport(df_c, minimal=True)
prof.to_file(output_file='report.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

### Inspeção de features: missed_bytes, orig_bytes, duration, resp_bytes, service

In [13]:
pd.options.display.max_columns = 50

In [14]:
df_c.describe()

,id.orig_p,id.resp_p,missed_bytes,orig_pkts,orig_ip_bytes,resp_ip_bytes,proto_icmp,proto_tcp,proto_udp,conn_state_OTH,conn_state_REJ,conn_state_RSTO,conn_state_RSTOS0,conn_state_RSTR,conn_state_RSTRH,conn_state_S0,conn_state_S1,conn_state_S2,conn_state_S3,conn_state_SF,conn_state_SH,conn_state_SHR
count,1.444674e+06,1.444674e+06,1.444674e+06,1.444674e+06,1.444674e+06,1.444674e+06,1.444674e+06,1.444674e+06,1.444674e+06,1.444674e+06,1.444674e+06,1.444674e+06,1.444674e+06,1.444674e+06,1.444674e+06,1.444674e+06,1.444674e+06,1.444674e+06,1.444674e+06,1.444674e+06,1.444674e+06,1.444674e+06
mean,3.711644e+04,1.759793e+04,1.989258e-01,1.780510e+02,7.745525e+03,2.846040e+01,2.527214e-03,9.603558e-01,3.711702e-02,8.124324e-02,1.881393e-03,1.059062e-04,2.076593e-05,3.814009e-04,3.460988e-06,9.034620e-01,3.322549e-05,1.868934e-05,1.700730e-03,1.114231e-02,5.537581e-06,1.384395e-06
std,1.731163e+04,2.242632e+04,4.241975e+01,7.230421e+04,2.849409e+06,1.014930e+04,5.020785e-02,1.951220e-01,1.890486e-01,2.732084e-01,4.333422e-02,1.029053e-02,4.556919e-03,1.952577e-02,1.860371e-03,2.953278e-01,5.764062e-03,4.323078e-03,4.120483e-02,1.049674e-01,2.353201e-03,1.176603e-03
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.415900e+04,2.300000e+01,0.000000e+00,1.000000e+00,4.000000e+01,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,3.811400e+04,2.323000e+03,0.000000e+00,1.000000e+00,4.000000e+01,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,5.067300e+04,3.721500e+04,0.000000e+00,2.000000e+00,8.000000e+01,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,6.553500e+04,6.553500e+04,2.027200e+04,6.602735e+07,1.914793e+09,1.207699e+07,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [16]:
df_c['service'].value_counts()

-       1434039
dns        4667
ssh        3794
irc        1652
http        506
dhcp          8
ssl           8
Name: service, dtype: int64

In [17]:
df_c['missed_bytes'].value_counts()

0.0        1444620
2896.0          12
1448.0          10
5792.0           6
10136.0          5
4344.0           3
7240.0           2
13032.0          2
2920.0           2
2472.0           2
1460.0           1
1579.0           1
5390.0           1
4500.0           1
15928.0          1
1582.0           1
20272.0          1
8688.0           1
17376.0          1
11584.0          1
Name: missed_bytes, dtype: int64

In [21]:
df_c['duration'].value_counts(), df_c['orig_bytes'].value_counts(), df_c['resp_bytes'].value_counts()

(-            900114
 2e-06        123801
 5e-06         64536
 2e-06         43172
 6e-06         30284
               ...
 2.071573          1
 2.061328          1
 3.006466          1
 1.092386          1
 16.001901         1
 Name: duration, Length: 58660, dtype: int64,
 -       900114
 0       327484
 0       195715
 48        7019
 589       3756
          ...
 146          1
 892          1
 192          1
 1036         1
 412          1
 Name: orig_bytes, Length: 296, dtype: int64,
 -        900114
 0        327595
 0        198008
 48         7019
 45         2808
           ...
 7313          1
 1840          1
 153           1
 83119         1
 317           1
 Name: resp_bytes, Length: 505, dtype: int64)

In [20]:
df_c[['service', 'missed_bytes', 'duration','orig_bytes', 'resp_bytes']]

        service  missed_bytes  duration orig_bytes resp_bytes
0             -           0.0  2.998796          0          0
1             -           0.0         -          -          -
2             -           0.0         -          -          -
3             -           0.0  2.998804          0          0
4             -           0.0         -          -          -
...         ...           ...       ...        ...        ...
1444669       -           0.0         -          -          -
1444670       -           0.0         -          -          -
1444671       -           0.0         -          -          -
1444672       -           0.0         -          -          -
1444673       -           0.0         -          -          -

[1444674 rows x 5 columns]